# A Text Mining Approach to Analyze The Cyber Security Related Articles

## PART-2: Data Preparation

__A) Loading NSF Awards Data__
- Replace 'NaN' strings and None values as Null Value
- Remove Rows which don't contain any data
- Filtering Rows with the keyword of cyber security
- Merging Multiple DataFrames

__B) Loading The Data of Investigators__
- Filtering The Data with Cyber Releated Article

__C) Preprocessing Phase__
- Remove Unnecessary Columns
- Reorder The Columns Sequence
- Summarize The Values
- Handling Missing Data
- Impute The Institution Name and Institution StateName
- Result Of Imputing
- Arrange The Columns' Types
- Create New Columns

__Saving The Data__

//////////////////////////////////////////////////////////////////////////////////////

__Importing of Required Libraries__

In [1]:
import spacy
import en_core_web_sm

import re
import numpy as np
import pandas as pd
import pickle

import warnings
warnings.filterwarnings("ignore")

__A) Loading NSF Awards Data__

In [2]:
df=pd.read_parquet('award_parquet.gzip')
df.head(2)

,AwardTitle,AwardEffectiveDate,AwardExpirationDate,AwardTotalIntnAmount,AwardAmount,AwardInstrument,Organization_Code,Directorate_Abbreviation,Directorate_LongName,Division_Abbreviation,...,Institution_Name,Institution_CityName,Institution_ZipCode,Institution_PhoneNumber,Institution_StreetAddress,Institution_CountryName,Institution_StateName,Institution_StateCode,ProgramElement_Code,ProgramElement_Text
0,Characterization of Nanoscale Defects and Pores,07/01/2001,06/30/2005,300000.00,300000,Continuing grant,07010000,ENG,Directorate For Engineering,ECCS,...,University of Michigan Ann Arbor,Ann Arbor,481091274,7347636438,3003 South State St. Room 1062,United States,Michigan,MI,1517,"ELECT, PHOTONICS, & MAG DEVICE"
1,Urban Containment Programs and the Vulnerabili...,08/15/2001,07/31/2005,NaN,149995,Standard Grant,07030000,NaN,NaN,NaN,...,University of North Carolina at Chapel Hill,CHAPEL HILL,275991350,9199663411,104 AIRPORT DR STE 2200,United States,North Carolina,NC,1638,"HDBE-Humans, Disasters, and th"

__Replace 'NaN' strings and None values as Null Value__

In [3]:
df.replace(to_replace=['NaN'], value=np.nan, inplace=True)
df.replace(to_replace=[''], value=np.nan, inplace=True)

__Remove Rows which don't contain any data__

In [4]:
df_notnull=df[df['Abstract'].notnull()].reset_index(drop=True)
df_notnull.head(3)

,AwardTitle,AwardEffectiveDate,AwardExpirationDate,AwardTotalIntnAmount,AwardAmount,AwardInstrument,Organization_Code,Directorate_Abbreviation,Directorate_LongName,Division_Abbreviation,...,Institution_Name,Institution_CityName,Institution_ZipCode,Institution_PhoneNumber,Institution_StreetAddress,Institution_CountryName,Institution_StateName,Institution_StateCode,ProgramElement_Code,ProgramElement_Text
0,Characterization of Nanoscale Defects and Pores,07/01/2001,06/30/2005,300000.00,300000,Continuing grant,07010000,ENG,Directorate For Engineering,ECCS,...,University of Michigan Ann Arbor,Ann Arbor,481091274,7347636438,3003 South State St. Room 1062,United States,Michigan,MI,1517,"ELECT, PHOTONICS, & MAG DEVICE"
1,Urban Containment Programs and the Vulnerabili...,08/15/2001,07/31/2005,NaN,149995,Standard Grant,07030000,NaN,NaN,NaN,...,University of North Carolina at Chapel Hill,CHAPEL HILL,275991350,9199663411,104 AIRPORT DR STE 2200,United States,North Carolina,NC,1638,"HDBE-Humans, Disasters, and th"
2,The Formation and Climatological Distribution ...,07/01/2001,08/31/2003,NaN,175204,Standard Grant,06020105,NaN,NaN,NaN,...,University of Oklahoma Norman Campus,NORMAN,730199705,4053254757,201 Stephenson Parkway,United States,Oklahoma,OK,1525,PHYSICAL & DYNAMIC METEOROLOGY

In [5]:
print('Total paper number in NSF web site: {}'.format(df.shape[0]))
print('Total paper number with Abstract : {}'.format(df_notnull.shape[0]))

Total paper number in NSF web site: 458635
Total paper number with Abstract : 348480

__Filtering Rows with the keyword of *cyber security*__

Pay attention!!! We filtering the data with "cyber" and "security" keywords separately. Because, If we had used the keyword as "cyber security", most of the valuable data would have ignored mistakenly. For example, different forms of cyber security words uses like "cyber-security" and "cybersecurity" in some articles.

In [6]:
df_cyber=df_notnull[df_notnull['Abstract'].str.lower().str.contains('cyber')]
len(df_cyber)

7099

In [7]:
df_malicious_benign=df_notnull[df_notnull['Abstract'].str.lower().str.contains('malicious| benign')]
len(df_malicious_benign)

1967

__Merging Multiple DataFrames__

After merging multiple dataframe, we need to drop duplicate rows. We didn't prefer to use default __drop_duplication()__ function because many rows have same Abstract value but different AwardID or reseacrher name. So we use __subset__ parameter to check and detect the similarities from Abstract values

In [8]:
#merge dataframes
df_sum = pd.concat([df_cyber,df_malicious_benign])
print('Row Numbers after merging:{}'.format(df_sum.shape[0]))

#remove duplicates
df_sum=df_sum.drop_duplicates(subset='Abstract')

print('Row Numbers after removing duplicates: {}'.format(df_sum.shape[0]))

#reset index
df_sum=df_sum.reset_index(drop=True)

Row Numbers after merging:9066
Row Numbers after removing duplicates: 7056

In [9]:
print('Total paper number in NSF web site: {}'.format(df.shape[0]))
print('Total cyber related paper number : {}'.format(df_sum.shape[0]))

Total paper number in NSF web site: 458635
Total cyber related paper number : 7056

__B) Loading The Data of Investigators__

In [10]:
df_investigator=pd.read_parquet('investigator_parquet.gzip')
df_investigator.head(3)

,AwardID,Investigator_FirstName,Investigator_LastName,Investigator_EmailAddress,Investigator_StartDate,Investigator_EndDate,Investigator_RoleCode
0,0100009,David,Gidley,gidley@umich.edu,05/14/2001,None,Principal Investigator
1,0100009,William,Frieze,frieze@umich.edu,05/14/2001,None,Co-Principal Investigator
2,0100009,Albert,Yee,afyee@uci.edu,05/14/2001,None,Co-Principal Investigator

__Filtering The Data with Cyber Releated Article__

In this dataset we don't have abstract information, so we establish a relation between Award Data (the previous data) and Investigator Data (this data) with the help og AwardID column.

In [11]:
#creat the awardID list
cyber_awardID_list=list(df_sum['AwardID'])

#filter the dataframe
df_investigator_cyber=df_investigator[df_investigator['AwardID'].isin(cyber_awardID_list)]

#reset index
df_investigator_cyber=df_investigator_cyber.reset_index(drop=True)

df_investigator_cyber.head(3)

,AwardID,Investigator_FirstName,Investigator_LastName,Investigator_EmailAddress,Investigator_StartDate,Investigator_EndDate,Investigator_RoleCode
0,0100727,Albert,Fry,AFRY@WESLEYAN.EDU,06/26/2001,None,Principal Investigator
1,0103820,Mark,Klein,m_klein@mit.edu,06/10/2001,None,Principal Investigator
2,0104861,Jennifer,Mueller,mueller@math.colostate.edu,08/30/2001,None,Principal Investigator

In [12]:
print('Total investigator number in NSF web site: {}'.format(df_investigator.shape[0]))
print('Total investigator number in cyber related papers: {}'.format(df_investigator_cyber.shape[0]))

Total investigator number in NSF web site: 917270
Total investigator number in cyber related papers: 15319

## C-) Preprocessing Phase

__Remove Unnecessary Columns__

In [13]:
#See all columns names together
print('Total columns number: {}\n'.format(df_sum.shape[1]))
print(list(df_sum.columns))

Total columns number: 27

['AwardTitle', 'AwardEffectiveDate', 'AwardExpirationDate', 'AwardTotalIntnAmount', 'AwardAmount', 'AwardInstrument', 'Organization_Code', 'Directorate_Abbreviation', 'Directorate_LongName', 'Division_Abbreviation', 'Division_LongName', 'ProgramOfficer', 'Abstract', 'MinAmdLetterDate', 'MaxAmdLetterDate', 'ARRAAmount', 'AwardID', 'Institution_Name', 'Institution_CityName', 'Institution_ZipCode', 'Institution_PhoneNumber', 'Institution_StreetAddress', 'Institution_CountryName', 'Institution_StateName', 'Institution_StateCode', 'ProgramElement_Code', 'ProgramElement_Text']

In [14]:
#Drop unnecessary columns
df_sum.drop([
       'AwardTotalIntnAmount', 'AwardInstrument',
       'Organization_Code', 'Directorate_Abbreviation', 'Directorate_LongName',
       'Division_Abbreviation', 'Division_LongName',
       'MinAmdLetterDate', 'MaxAmdLetterDate', 'ARRAAmount',
      'Institution_CityName','Institution_CountryName',
       'Institution_ZipCode', 'Institution_PhoneNumber',
       'Institution_StreetAddress','Institution_StateCode',
        'ProgramElement_Code',
       'ProgramElement_Text'], axis=1, inplace=True) 

print('After dropping unnecessary columns,\nCurrently total columns number: {}\n'.format(df_sum.shape[1]))
print(list(df_sum.columns))

After dropping unnecessary columns,
Currently total columns number: 9

['AwardTitle', 'AwardEffectiveDate', 'AwardExpirationDate', 'AwardAmount', 'ProgramOfficer', 'Abstract', 'AwardID', 'Institution_Name', 'Institution_StateName']

__Reorder The Columns Sequence__

In [15]:
df_sum = df_sum[['AwardID', 'AwardTitle', 'AwardEffectiveDate', 'AwardExpirationDate','AwardAmount', 'ProgramOfficer','Institution_Name', 'Institution_StateName','Abstract']]
df_sum.head(2)

,AwardID,AwardTitle,AwardEffectiveDate,AwardExpirationDate,AwardAmount,ProgramOfficer,Institution_Name,Institution_StateName,Abstract
0,0110599,Collaborative Research Testing Affect Control ...,08/15/2001,07/31/2004,124135,Patricia White,University of Arizona,Arizona,The investigators will conduct a series of exp...
1,0112426,Federal Cyber Service Initiative,06/01/2001,06/30/2007,5105896,Timothy V. Fossum,University of Tulsa,Oklahoma,This program produces a cadre of computer scie...

__Summarize The Values__

In [16]:
#Create a new dataframe and describe the values
df_values = pd.DataFrame()
df_values["Total NaN"]=df_sum.isnull().sum().sort_values(ascending=False)
df_values['Percentage of NaN']= (df_sum.isnull().sum()/df_sum.isnull().count()).sort_values(ascending=False)
df_values["Unique Values"] = df_sum[df_values.index].nunique()
df_values["Value Type"] = df_sum[df_values.index].dtypes
df_values

                       Total NaN  Percentage of NaN  Unique Values Value Type
Institution_StateName         46           0.006519             54     object
Institution_Name              46           0.006519            900     object
ProgramOfficer                 7           0.000992           1035     object
Abstract                       0           0.000000           7056     object
AwardAmount                    0           0.000000           4994     object
AwardExpirationDate            0           0.000000            393     object
AwardEffectiveDate             0           0.000000            609     object
AwardTitle                     0           0.000000           6813     object
AwardID                        0           0.000000           7056     object

__Handling Missing Data__

In the data there are 3 group of data has missing values. As a glad to missig values, it is not possible to handle the __name of the program officers__. Also, __Institution Name__ and __Institution State Name__ also not possible to imputing. But, after analyze the __Abstract__ column, we understood that we can gain some names from there with NLP techniques. With our previous NLP experience, we prefer to use Python __spacy__ library, because it is more powerfull in NER than nltk, textblob etc.

In [17]:
df_missing=df_sum[df_sum['Institution_Name'].isnull()].reset_index(drop=True)
df_unv=pd.read_csv('us_universities.csv',sep=';')
df_unv.head(2)

FileNotFoundError: [Errno 2] File b'us_universities.csv' does not exist: b'us_universities.csv'

__Impute The Institution Name and Institution StateName__

In [ ]:
#create a list of all institution names in unique format
institution_list=list(set(list(df_sum[df_sum['Institution_Name'].notnull()]['Institution_Name'])))


#Check university name if it is not exist in institution_list
def unv_name_check(unv_name,institution_list_temp):
    if df_unv[df_unv['University_Name'].str.contains(unv_name)].shape[0]==1:      
        instution_name=df_unv[df_unv['University_Name'].str.contains(unv_name)].reset_index(drop=True)['University_Name'][0]
        institution_list_temp.append(instution_name.strip())
        return institution_list_temp


#define the nlp object
nlp = en_core_web_sm.load()

for n in range(df_missing.shape[0]):
    #loading the document in string format
    doc=nlp(str(df_missing['Abstract'][n]))
    
    #extract the organization names
    NER_organization_list=[X.text.replace('The ','').replace('the ','') for X in doc.ents if X.label_=='ORG']
    #print(NER_organization_list)
    
    
    #cleaning the NERs
    NER_organization_list2=[]
    for w in NER_organization_list:
        if '(' in w:
            NER_organization_list2.append(w.split('(')[1])
        elif "'" in w:
            NER_organization_list2.append(w.split("'")[0])
        elif "Gravitational" in w:
            NER_organization_list2.append(w.split(" Gravitational")[0])
        else:
            NER_organization_list2.append(w)

    
    #remove the short names
    NER_organization_list2=[name for name in NER_organization_list2 if len(name)>3]

    
    #check the organization names if it exits in institution_list    
    institution_list_temp=[]
    for NER_organization in NER_organization_list2:  
        
        temp=[s for s in institution_list if NER_organization in s]
        institution_list_temp.extend(temp) if len(temp)!=0 else unv_name_check(NER_organization,institution_list_temp)
    
    institution=(institution_list_temp[0]) if len(institution_list_temp)!=0 else 'NaN'
    df_missing['Institution_Name'][n]=institution
    if df_sum[df_sum['Institution_Name']==institution].shape[0]!=0:
        df_missing['Institution_StateName'][n]=df_sum[df_sum['Institution_Name']==institution].reset_index(drop=True)['Institution_StateName'][0]   
    elif df_sum[df_sum['Institution_Name']==institution].shape[0]==0 and len(institution)!=3:
        df_missing['Institution_StateName'][n]=df_unv[df_unv['University_Name'].str.contains(institution)].reset_index(drop=True)['State'][0]
    
          
    ###Transfering the Institution_Name and Institution_StateName values to orijinal DataFrame###
    df_sum['Institution_Name'][df_sum.index[df_sum['AwardID']==df_missing['AwardID'][n]]]=df_missing['Institution_Name'][n]
    df_sum['Institution_StateName'][df_sum.index[df_sum['AwardID']==df_missing['AwardID'][n]]]=df_missing['Institution_StateName'][n]

df_sum.replace(to_replace=['NaN'], value=np.nan, inplace=True) 
df_missing.head(2)

__Result Of Imputing__

In [ ]:
#Changes in Missing Values
print('Total missing values in Institution Name, BEFORE: {}'.format(df_values.loc['Institution_Name']['Total NaN']))
print('Total missing values in Institution Name, AFTER: {}'.format(df_sum['Institution_Name'].isnull().sum()))

__Arrange The Columns' Types__

After completed the feature engineering phase, we should arrange the columns' type.

As seen above, all columns seen as object (string) type. So we need to change some columns to relavent data type before starting to analyze.

AwardID values consist of numbers but we shouldn't convert it to integer because some of them starts with 0 (zero) and when convert its type string to integer 0 is disappear and the data would be changed.

In [ ]:
#Change column type as datetime
df_sum['AwardEffectiveDate'] = pd.to_datetime(df_sum['AwardEffectiveDate'], errors='coerce', format='%m/%d/%Y')
df_sum['AwardExpirationDate'] = pd.to_datetime(df_sum['AwardExpirationDate'], errors='coerce', format='%m/%d/%Y')

#change two columns type as float
df_sum['AwardAmount'] = df['AwardAmount'].astype(float)

__Create New Columns__

In [ ]:
#Year Column
df_sum['Year'] = df_sum['AwardEffectiveDate'].dt.year

#Award Duration
df_sum['Award_Duration']=df_sum['AwardExpirationDate']-df_sum['AwardEffectiveDate']

#AwardAmount_Million
df_sum['AwardAmount_Million'] = (df_sum['AwardAmount']/1000000).round(2)

#Abstract_Lenght
df_sum['Abstract_Lenght'] = df_sum['Abstract'].str.len()

df_sum.head(2)

__Save The Data__

We prefer to use parquet format because, it store the data by compressed so takes up less space. But, pandas parquet options doesn't support timedelta type. So we need to use __fastparquet__, to keep the timedelta type format.

In [ ]:
df_sum.to_parquet('df_sum_parquet.gzip',engine='fastparquet', compression='gzip')
df_investigator_cyber.to_parquet('df_investigator_cyber_parque.gzip',engine='fastparquet', compression='gzip')